@font-face{font-family:JF-Flat;src:url(JF-Flat-regular.eot);src:url(JF-Flat-regular.eot?#iefix) format('embedded-opentype'),url('JF-Flat-regular.svg#JF Flat Regular') format('svg'),url(JF-Flat-regular.woff) format('woff'),url(JF-Flat-regular.ttf) format('truetype');font-weight:400;font-style:normal}